<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="IE-8" />
<style>
    html{
        font-size: 62.5%;
    }
    *{
        margin: 0;
        padding: 0; 
        box-sizing: border-box;
        font-family: 'helvetica';
    }
    .main_div{
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to top right, blue, cyan);
        flex-direction: column;
    }
    .main_div div{
        width: 35%;
    }
    .main_div_child1{
        padding: 2rem 1rem 1rem 0rem;
    }
</style>
</head>
<body>

<div class="main_div">
    <div> <h1 style="color: white; font-size: 3rem;"> Please Enter Your location down below </h1> </div>
    <div class="main_div_child1"> 
        <form id="form1">
                <input type="text" id="place1" style="font-size: 2rem;outline: none; border: 1px solid black; padding: 0.8rem;"/>
                <input type="submit" style="border: 1px solid white; font-size: 2rem;  padding: 0.8rem; background-color: green; color: white;"/>
        </form>    

        
    </div>
    <div style="color: white;">
        <p style="font-size: 1.5rem; padding: 1rem 0rem ;"> Results for : <span id="place"></span>  </p><hr />
        <p id="temperature" style="font-size: 2rem; padding: 1rem 0rem;"></p>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", init);
    function init(){
        let x = document.getElementById("form1");
        x.addEventListener("submit", (e) => {
            e.preventDefault();
            
            let place = document.getElementById("place1").value;
            
            document.getElementById("temperature").innerHTML = "Loading...";
            
            async function getDetails(place) {
                const response = await fetch(`/weather/${place}`);
                const data = await response.json();
                return data;
            }
            getDetails(place)
                .then(data => {
                    document.getElementById("temperature").innerHTML = data.data;
                    document.getElementById("place").innerHTML = data.place;
                    console.log(data.data);
                })
                .catch(error => {
                    console.log(error);
                });
        })
    }
</script>
</body>
</html>