<!DOCTYPE html>
<html>
<head>
    <title> Weather-app | Mrityunjay Kumar </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  rel="stylesheet" href="css/css_for_indexhbs.css" />
</head>
<body>

<div class="main_div">
    <div class="main_div_child1">
        <h1 class="heading1"> Please Enter Your location down below </h1>
    </div>

    <div class="main_div_child2"> 
        <form id="form1">
            <div class="inside_form">
                <div class="insode_form_child1">
                    <input type="text" id="place1" />
                </div>
                <div class="insode_form_child2">
                    <input type="submit" class="submit_button" value="Search"/>
                </div>
            </div>
        </form>
    </div>
    <div  class="main_div_child3">
        <p style="font-size: 1.5rem; padding: 1rem 0rem ;"> Results for : <span id="place"></span>  </p><hr />
        <p id="temperature" style="font-size: 2rem; padding: 1rem 0rem;"></p>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", init);
    function init(){
        let x = document.getElementById("form1");
        x.addEventListener("submit", (e) => {
            e.preventDefault();
            
            let place = document.getElementById("place1").value;
            
            document.getElementById("temperature").innerHTML = "Loading...";
            
            async function getDetails(place) {
                const response = await fetch(`/weather/${place}`);
                const data = await response.json();
                return data;
            }
            getDetails(place)
                .then(data => {
                    document.getElementById("temperature").innerHTML = data.data;
                    document.getElementById("place").innerHTML = data.place;
                    console.log(data.data);
                })
                .catch(error => {
                    console.log(error);
                });
        })
    }
</script>
</body>
</html>